.screen-header {
    display:flex ;
    justify-content:space-between;
    padding:25px;
    align-items:center; 
    padding:var(--horizontal-space); 
    margin-top:10px ;

}

.screen-header__title{
    font-size:30px;
    font-weight:600;
}
.screen-header__icons span{
    margin-left:20px;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotatez(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateCog 1s linear infinite;
}

@keyframes heartBeat {
    0% {
        color: white;
    }
    50% {
        color: tomato;
        transform: scale(1.5);
    }
    100% {
        color: white;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}